<!--
  Generated template for the UserSearchPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

  <form>
    <ion-item>
      <ion-label>
        <ion-icon name="search"></ion-icon>
      </ion-label>
      <ion-input placeholder="ユーザ検索" type=""></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <button expand="block" type="submit" ion-button>けんさく！</button>
        </ion-col>
        <ion-col>
          <button expand="block" type="submit" ion-button>とうろく！</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
<ion-list >
  <ion-item *ngFor="let i of items">{{i}}</ion-item>
</ion-list>


<ion-scroll>
<ion-item *ngFor="let item of items">
<ion-label>
{{item}}
</ion-label>
</ion-item>
</ion-scroll>


